html, body {
	height: 100%;
}
#sidebar {
}
#content {
}
#wrapper-title {
	height: 150px;
}
.nomargin-top {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.nomargin-bot {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	margin-bottom: -1px;
}
#geolocation {
	width: 300px;
	height: 300px;
}
.ui-datepicker-calendar {
    display: none;
}