/* CSS should die in a fire. !important is needed here, even if adding after everything else, beats me why*/
* {
  outline: none !important;
}
.inline {
  display: inline !important;
}
.inline-block {
  display: inline-block !important;
}
.block {
  display: block !important;
}
.disp-table {
	display: table !important;
}
.table-row {
	display: table-row !important;
}
.table-cell {
	display: table-cell !important;
}

.margin-left-5 {
  margin-left: 5px !important;
}
.margin-left-10 {
  margin-left: 10px !important;
}
.margin-right-5 {
  margin-right: 5px !important;
}
.margin-right-10 {
  margin-right: 10px !important;
}
.margin-right-20 {
	margin-right: 20px !important;
}
.margin-right-25 {
	margin-right: 25px !important;
}
.margin-right-30 {
	margin-right: 30px !important;
}
.margin-bottom-5 {
  margin-bottom: 5px !important;
}
.margin-bottom-10 {
  margin-bottom: 10px !important;
}
.margin-top-5 {
  margin-top: 5px !important;
}
.padding-top-5 {
  padding-top:  5px !important;
}
.padding-right-5 {
	padding-right:  5px !important;
}
.padding-right-10 {
	padding-right:  5px !important;
}
.padding-bottom-5 {
	padding-bottom:  5px !important;
}
.padding-left-5 {
	padding-left:  5px !important;
}
.nomargin {
  margin: 0 !important;
}
.nopadding {
  padding: 0 !important;
}
.width-100 {
	width: 100px !important;
}
.width-150 {
	width: 150px !important;
}
.width-200 {
	width: 200px !important;
}
.width-250 {
	width: 250px !important;
}
.width-300 {
	width: 300px !important;
}
.width-400 {
	width: 400px !important;
}
.height-50 {
	height: 50px !important;
}
.height-75 {
	height: 75px !important;
}
.height-100 {
	height: 100px !important;
}
.height-150 {
	height: 150px !important;
}
.height-200 {
	height: 200px !important;
}
.height-300 {
	height: 300px !important;
}